/* 
    Document   : default
    Created on : 24-sep-2012, 21:52:28
    Author     : Alexander
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 80px;
    /*background-color:#b0c4de;*/
}

.img-button-explication { 
    background-image: url('../images/icons/red-22.png') !important;
    background-size: 100%; 
}

.img-button-test { 
    background-image: url('../images/icons/red-37.png') !important;
    background-size: 100%; 
}
.img-button-edit { 
    background-image: url('../images/icons/red-41.png') !important;
    background-size: 100%; 
}

.img-button-delete { 
    background-image: url('../images/icons/red-16.png') !important;
    background-size: 100%; 
}

.img-button-send { 
    background-image: url('../images/icons/red-18.png') !important;
    background-size: 100%; 
}

.text {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}